# ========== Unity Generated Folders ==========
[Ll]ibrary/
[Tt]emp/
[Oo]bj/
[Bb]uild/
[Bb]uilds/
[Ll]ogs/
[Uu]ser[Ss]ettings/
.utmp/
*.log

# ========== Blender ==========
*.blend1
*.blend1.meta

# ========== Unity Extra Data ==========
/[Mm]emoryCaptures/
/[Rr]ecordings/

# ========== Ignore Asset Store Tools (Optional) ==========
# /[Aa]ssets/AssetStoreTools*

# ========== Rider Plugin ==========
/[Aa]ssets/Plugins/Editor/JetBrains*

# ========== IDE Directories ==========
.vs/
.gradle/
ExportedObj/
.consulo/

# ========== IDE and Unity Project Files ==========
*.csproj
*.unityproj
*.sln
*.suo
*.tmp
*.user
*.userprefs
*.pidb
*.booproj
*.svd
*.pdb
*.mdb
*.opendb
*.VC.db

# ========== Unity Crash & Meta Files ==========
*.pidb.meta
*.pdb.meta
*.mdb.meta
sysinfo.txt

# ========== Build Artifacts ==========
*.apk
*.aab
*.unitypackage
*.unitypackage.meta
*.app
crashlytics-build.properties

# ========== Addressables ==========
/[Aa]ssets/[Aa]ddressable[Aa]ssets[Dd]ata/*/*.bin*

# ========== StreamingAssets ==========
/[Aa]ssets/[Ss]treamingAssets/aa.meta
/[Aa]ssets/[Ss]treamingAssets/aa/*

# ========== Visual Scripting ==========
/[Aa]ssets/Unity.VisualScripting.Generated/VisualScripting.Flow/UnitOptions.db
/[Aa]ssets/Unity.VisualScripting.Generated/VisualScripting.Flow/UnitOptions.db.meta
/[Aa]ssets/Unity.VisualScripting.Generated/VisualScripting.Core/Property Providers
/[Aa]ssets/Unity.VisualScripting.Generated/VisualScripting.Core/Property Providers.meta
